body {
  background-image: url('./assets/backgroundimg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  /* optional */
}

.dashboard-container {
  margin-top: 0;
  padding-top: 10px;
  background: transparent !important;
}

#card1 {
    background-color: rgba(86, 132, 100, 0.2);
    border-color: rgba(142, 182, 155, 1); 
    font-size: 25px;
    
}

#c1title {
    font-size: 40px;
    font-weight: bold;
}

#card2 {
    background-color: rgba(154, 193, 115, 0.2);
    border-color: rgba(118, 148, 76, 1);

}

#card3 {
    background-color: rgba(133, 169, 77, 0.2);
    border-color: rgba(94, 140, 49, 1);
}

#card4 {
    background-color: rgba(50, 100, 18, 0.2);
    border-color: rgba(50, 100, 18, 1)
}

#logOutBtn {
    background-color: #572D0C;
    border-color: #572D0C;
    margin-top: 20px;
}

#plant-card {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-color: rgb(7, 59, 7);
}

.plant-image {
    width: 90%;       
    height: 80%;       
    object-fit: contain;
    margin-top: -85px;
}