@font-face {
    font-family: 'The-Munday';
    src: url("./assets/The-Munday.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background-color: #bee0be !important;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2' fill='%235a8a5a'/%3E%3C/svg%3E") !important;
  background-size: 25px 25px !important;
  background-repeat: repeat !important;
  margin: 0px;
  padding: 0px;
}

#loginLogo {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 450px;
  height: 35vh;  
  margin-bottom: 20px;
  margin-left: 100px;
  padding-bottom: 20px; 
}

#logotext {
    font-family: 'The-Munday' !important;
    font-size: 100px;
    text-align: center;
}

#submit-btn {
    background-color: rgb(15, 70, 15);
    border-color: rgb(15, 70, 15);
    margin-top: 20px;
    margin-left: 15px;
    font-size: 25px;
}