@font-face {
    font-family: 'The-Munday';
    src: url("./assets/The-Munday.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #9bcda1;
}

#loginLogo {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 450px;
  height: 35vh;  
  margin-bottom: 20px;
  margin-left: 40px;
  padding-bottom: 20px; 
}

#logotext {
    font: 'The-Munday' !important;
    font-size: 40px;
    width: 500px;
}

#submitButton {
    background-color: #572D0C;
    border-color: #572D0C;
    margin-top: 20px;
}

#li-su-btn {
    font-family:  Arial, Helvetica, sans-serif;
}

#last-btn {
    background-color: rgb(15, 70, 15);
    border-color: rgb(15, 70, 15);
    margin-top: 30px;
    margin-left: 15px;
    font-size: 40px;
}